<div class="row">
  <div class="container">
    <% if current_user %>
      <div class="page-header">
        <h1>Algumas informações sobre você...</h1>
      </div>
      <%= form_for(current_user, url: update_path(current_user), method: :put) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-4">
              <div class="col-md-6">
                <%= f.label :name, "Nome" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :name %>
              </div>
              <div class="col-md-6">
                <%= f.label :email, "Email" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :email, {type:"email"} %>
              </div>
              <div class="col-md-6">
                <%= f.label :age, "Data de nascimento" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :age, {type:"date"} %>
              </div>
              <div class="col-md-6">
                <%= f.label :location, "Cidade atual" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :location %>
              </div>
              <div class="col-md-6">
                <%= f.label :url, "Perfil" %>
              </div>
              <div class="col-md-6">
                <%= link_to "Clique aqui", current_user.url, {target:"_blank"} %>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit 'Salvar', {class:"btn btn-success"} %>
      <% end %>
    <% else %>
        <div class="jumbotron">
        <h1>Bem vindo!</h1>
        <p>Autentique com o Facebook para continuar.</p>
        <a href="/auth/facebook" class="btn btn-social btn-facebook">
          <span class="fa fa-facebook"></span>
          Entrar com facebook
        </a>
      </div>
    <% end %>
  </div>
</div>